body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;

    background-image: url("images/typing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    width: 500px;
    margin: 80px auto;
    background: rgba(15, 12, 12, 0.9);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: blanchedalmond;
}

#quote {
    background: #ae9898;
    padding: 15px;
    border-radius: 5px;
    min-height: 60px;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
}

.info {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
